<!DOCTYPE html>
<head>
    <title>Time Person of the Year</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<header>
    <h1>Time Person of the Year</h1>
</header>
<body>
    <form method="post">
        <label name="startingYear">Starting Year</label>
        <input name="startingYear" placeholder="starting year is 1927" type="number" />

        <label name="endingYear">Ending Year</label>
        <input name="endingYear" placeholder="pre-2019" type="number" />

        <button type="submit">Submit</button>
    </form>
</body>