<!DOCTYPE html>
<head>
    <title></title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Time person of the year</h1>

    <form method="post">
        <label name="startingYear">Starting Year</label>
        <input name="startingYear" type="number" />

        <label name="endingYear">Ending Year</label>
        <input name="endingYear" type="number" />

        <button type="submit">Submit</button>
    </form>
</body>